.movie-list {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 600px;
  margin: 50px 35px 35px;

  &__wrapper {
    display: flex;
    flex: 1;
  }

  &__not-found {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 26px;
  }
}
