$text-color: rgb(151, 151, 151);
$url: "https://wallpapermemory.com/uploads/647/hong-kong-background-dual-monitor-3840x1200-486903.jpg";

.header {
  &_wrapper {

    &__background {
      width: 100%;
      height: 396px;
      position: absolute;
      background-image: url($url);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 30%;
      z-index: -1;
    }

    &__content {
      flex: 1;
      height: 376px;
      padding: 20px 60px 0;
    }
  }
}
